.text-field {
    position: relative;
    display: inline-block;
    font-size: 0.8125rem;
    line-height: 0.8125rem;
    overflow: hidden;
    width: 100%;

    &__error {
        margin-top: .44rem;
        color: #FF2F2F;
        font-size: 0.5rem;
        font-weight: 400;
        line-height: 0.5rem;
    }

  &__input {
    display: block;
    box-sizing: border-box;
    margin: 0;
    border: none;
    border-top: solid 27px transparent;
    border-bottom: solid 1px #3369F3;
    padding: 0 0 4px;
    width: 100%;
    height: inherit;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    background-color: transparent;
    box-shadow: none; /* Firefox */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    caret-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    transition: border-bottom 0.2s, background-color 0.2s;

    &:focus {
      outline: none;
    }
    &:hover {
      border-bottom-color: #3369F3;
    }
  }
  &__label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    box-sizing: border-box;
    padding: 7px 0 0;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    font-size: 75%;
    line-height: 18px;
    pointer-events: none;
    transition: color 0.2s, font-size 0.2s, line-height 0.2s;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 2px;
      background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
      transform-origin: bottom center;
      transform: scaleX(0);
      transition: transform 0.2s;
    }
  }
}

.text-field > input:not(:focus):placeholder-shown + span {
  font-size: inherit;
  line-height: 56px;
}
