.go-back {
  position: fixed;
  width: 4%;
  height: 100%;
  top: 0;
  left: 0;
  background: #FBFBFB;
  border-right: 1px solid #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
}
